*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: lato;
}

header{
    background-color: #19456b;
}

.main-heading{
    text-align: center;
    
    margin-top:40px;
  
    
    
}

h2{
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
}
h2:after{
    display:block;
    height:2px;
    background-color: #E91E63;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top:30px;
    
    
}




.from-msg{
    margin-top:40px;
}

/*---REUSABLE---*/

.row{
    margin:0 auto;
    max-width: 1140px;
}

.users-navbar li{
    /*--display: inline-block;--*/
    float:right;
    
    font-size: 18px;
    font-weight: 300;
    padding:10px;
    text-transform: uppercase;
    list-style: none;
    margin-right: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.nav-link:link,
.nav-link:visited{
    color:#ffffff;
    text-decoration: none;
    padding:10px;  
    padding-bottom: 16px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s color 0.5s;
}

.nav-link:hover,
.nav-link:active{

    padding:10px;
    padding-bottom: 15px;
    border-bottom:4px solid  #a9294f;
}

/*---FORM ELEMENTS -----*/

.main-body{
    font-weight: 300;
    
}


label{
  
    font-weight: 400;
    font-size:20px;
    
}
.fill-up{
    margin-top:50px;
    width:100%;
    padding-left:15%;
}

select{
    
    width:80%;
    padding:7px;
    border-radius:3px;
    border:1px solid #ccc;
}

.btn-submit{
    position: absolute;
    margin-top:60px;
    left:46%;
    
}

input[type=submit]{
    display: inline-block;
    border-radius:5px;
    text-decoration: none;
    padding:15px 35px;
    font-weight: 400;
    border:1px solid  #E91E63;
    background-color: #E91E63;
    color:#ffffff;
}

input[type=submit]:hover,
input[type=submit]:active{
    background-color: #d32358;
}



.fixed-footer{
    width:100%;
    position: fixed;
    color:#fff;
    height:45px;
    bottom:0;
    background: rgb(43, 43, 43);
    font-weight: 300;

}
.container{
    margin-left:auto;
    margin-right:auto;
    padding:8px;
   
    margin-bottom: 30px;
    word-spacing: 2px;
    text-align: center;
}
